
<div class="row justify-content-start mt-5 big-home pt-5">
    <div class="col-6 mt-5 pt-5">
        <h1>Conectamos al talento top de linea</h1>
        <p class="lg-6">Nos dedicamos a conectar a las empresas con el talento remoto top de linea en todo el mundo, formando equipos ágiles con distintos perfiles del area tecnológica, ayudandolos a la transformación digital.</p>
    </div>
</div>